body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

header h1 {
  font-size: 2em;
  margin: 10px 0 0;
}

header h2 {
  font-size: 1.5em;
  margin: 5px 0 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin: 50px 0;
}

section h2 {
  font-size: 2em;
  margin: 0 0 20px;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section li {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

section a {
  text-decoration: none;
}

section img {
  max-width: 100%;
  border-radius: 10px;
}

section h3 {
  font-size: 1.2em;
  margin: 10px 0 5px;
}

section p {
  font-size: 1em;
  margin: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}


textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
